/* @group Format */

#version {
	float: none;
	display: inline;
	position: absolute;
	top: -18px;
	right: 18px;
	font-size: .6em;
	color: #777;
}

.login_field {
	width: 65%;
}

div.dialog {
	width: 500px;
	padding: 0 4em;
	text-align: center;
	margin: 10px auto;
}

#loading_livelook {
	display: inline;
	position: absolute;
	margin-left: -22px;
	margin-top: -14px;
	float: none;
	right: 15px;
	top: -3px;
}

.loading{
	background: url(../images/loading.gif) no-repeat center center;
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 1000;
	margin: 0;
	padding: 0;
}

#loading {
	float: left;
	margin-top: -25px;
	display: inline;
	margin-left: 69px;
}

#loading_sensor {
	float: left;
	margin-top: -24px;
	display: inline;
	margin-left: 134px;
}

#loading_dash {
	float: left;
	display: inline;
	margin-right: 5px;
	margin-top: -4px;
}

.move_right {
	float: right;
	font-size: small;
}

.always_show_above {
	visibility: visible;
	overflow: visible;
	display: inline-block;
	position: relative;
	clear: both;
}

.destroy_image {
	
}

.small {
	font-size: x-small;
	margin-top: 5px;
	margin-right: 5px;
}

.move_image_right img {
	padding-right: 5px;
}

div#box{
	border: 1px solid #e2e3e6;
	border-top: 1px none #edf0f0;
	border-bottom: 1px solid #e0e1e3;
	border-right-style: none;
	border-left-style: none;
	background: #ededed url(../images/box_bg.png) repeat-x 0 bottom;
	width: 876px;
	margin-left: -27px;
	display: block;
	position: relative;
	padding-bottom: 2px;
	margin-bottom: 10px;
}
div#box input{
	float: left;
	position: relative;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}
div#box p{
	padding: 0;
	margin: 0 0 1px;
}

#box_inside{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.box {
	background: #edf2ef;
	border: 1px solid #bdc0c0;
	margin-bottom: -5px;
	padding: 5px;
	color: rgb(51,51,51);
	font: normal normal normal 12px/normal 'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;
	height: 17px;
}

.back {
	font-size: small;
	float: left;
	margin-right: 5px;
	color: rgb(51,51,51);
	font: normal normal normal 12px/normal 'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;
}

.auto_complete {
	font-size: x-small;
	color: #2a2a2a;
	background-color: #fefebe;
	overflow-x: hidden;
	max-height: 250px;
	border: 1px solid #a0a0a0;
	display: block;
	margin-bottom: 10px;
}

#back_button {
	float: right;
}

.kindof_round {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-right-radius: 5px;
}

.round {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.not_round {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

/* Resets */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

:focus {
	outline: 0;
}

tbody {
	border-color: inherit;
	display: table-row-group;
	vertical-align: middle;
}

input,textarea {
	color: initial;
	display: inline-block;
	font: -webkit-small-control;
	letter-spacing: normal;
	line-height: normal;
	margin: 0em;
	text-align: -webkit-auto;
	text-indent: 0px;
	text-shadow: none;
	text-transform: none;
	word-spacing: normal;
}

input#user_website,#email,#user_company {
	border: 1px solid #ccc;
	padding: 5px;
	font-size: large;
}

input#user_name,#user_session_email,#user_email,#user_session_login,#user_session_password,#user_password,#user_password_confirmation,#settings_device_name,#search_title {
	border: 1px solid #ccc;
	padding: 5px;
	font-size: x-large;
}

.full_form {
	width: 800px;
}

input,textarea {
	background: #f2f9f6 url(../images/input_bg.png) repeat-x 0 bottom;
	border: 1px solid #d3d8da;
	color: rgb(51,51,51);
	font: normal normal normal 12px/normal 'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;
	margin: 0px;
	padding: 5px;
}

textarea#comment_body{
	background: #f2f9f6 url(../images/input_bg.png) repeat-x 0 bottom;
	border: 1px solid #d3d8da;
	color: rgb(51,51,51);
	font: normal normal normal 12px/normal 'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;
	margin: 0px;
	padding: 5px;
	width: 75%;
	height: 130px;
	display: block;
	position: relative;
	overflow: hidden;
}

textarea#send_event_textarea{
	background: #f2f9f6 url(../images/input_bg.png) repeat-x 0 bottom;
	border: 1px solid #d3d8da;
	color: rgb(51,51,51);
	font: normal normal normal 12px/normal 'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;
	margin: 0px;
	padding: 5px;
	width: 320px;
	height: 130px;	
}

select,select:focus{
	margin: 0px;
	font: normal normal normal 12px/normal 'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;
	border: 1px solid #bdc0c0;
}

input[type=file]{
	border-style: none;
	background: none;
}

input[type=submit] {
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-shadow: #f9fcff 0 1px 0;
	border: 1px solid #cdcccd;
	color: #3d3d3d;
	font-weight: bold;
	text-align: center;
	padding: 7px 10px;
	background: #fff url(../images/submit_bg.png) repeat-x 0 bottom;
}

input[type=submit]:hover {
	text-shadow: #f3f4ff 0 1px 0;
	color: #5f6162;
	font-weight: bold;
	text-align: center;
	background: #fff url(../images/submit_hover_bg.png) repeat-x 0 top;
}

input[type=submit]:focus {
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-shadow: #f9fcff 0 1px 0;
	font-weight: bold;
	text-align: center;
	padding: 7px 10px;
	text-shadow: #f3f4ff 0 1px 0;
	color: #5f6162;
	font-weight: bold;
	text-align: center;
	background: #fff url(../images/submit_hover_bg.png) repeat-x 0 top;
}

input:focus{
	background: #fdffc8;
	border: 1px solid #d0d2d4;
	color: rgb(51,51,51);
	font: normal normal normal 12px/normal 'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;
	margin: 0px;
	padding: 5px;
}

input[type=hidden] {
	border-style: none;
	background-color: #fff;
	visibility: hidden;
	display: none;
}

ol,ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

div {
	display: block;
}

caption,th,td {
	text-align: left;
	font-weight: normal;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

blockquote {
	line-height: 1.2em;
	font-style: italic;
	padding: 20px 20px 20px 60px;
	margin: 20px 0;
	background: url(images/quote.png) no-repeat 0 0;
}

acronym {
	cursor: help;
	border-bottom: 1px dashed #333;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

hr {
	display: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

.hide {
	display: none;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

a img {
	border: none;
}

a {
	color: #505051;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
}

a:hover {
	color: #7e8884;
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
	font-variant: normal;
}

html{
	width: 100%;
  	background-color: #ededed;
	height: 100%;
}

body {
  	font-family: Verdana, Helvetica, Arial;
  	font-size: 12px;
  	background-color: #ededed;
	width: 100%;
}

/* @end */

/* @group Tables */

.grid td {
	
}

.grid tr:hover {
	background-color: rgba(237,237,237,0.64);
}

.grid a {
	color: #1f00ff;
	font-size: x-small;
	font-variant: normal;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

tr.odd {
	
}

tr.even {
	background-color: rgba(205,241,250,0.33);
}

th {
	font-size: x-small;
}

td,tr {
	font-size: x-small;
}

table.form td {
	padding: 5px;
}

#more_menu_holder {
	width: 700px;
	display: inline-block;
	text-align: center;
	margin: -10px auto 10px 100px;
}

#more_menu_holder a {
	font-variant: normal;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

.more_error {
	float: left;
	margin-right: 5px;
}

#more_information_in {
	border: 5px solid #faffbb;
	overflow: hidden;
	margin-top: 10px;
}

#more_information table {
	text-align: left;
	width: 100%;
	font-size: small;
}

#more_information td {
	text-align: left;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 20px;
}

#more_information tr {
	border-bottom: 1px solid #f2f2f2;
	text-align: left;
}

#more_information th {
	padding: 2px 30px 2px 15px;
	color: #464546;
	background-color: #faffbb;
	font-size: x-small;
}

/* @end */

/* @group H1 Stuff */

h1 {
	text-shadow: #fff 0 1px 0;
	color: #212222;
	font-size: 1.6em;
}

h2 {
	text-shadow: #fff 0 1px 0;
	color: #393a3a;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.0em;
}

h3 {
	color: #434343;
	font-size: small;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

h4 {
	color: #ff000e;
	font-size: small;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

h6 {
	font-size: x-small;
	line-height: 1px;
	padding-top: 8px;
}

h7 {
	font-size: large;
	padding-top: 8px;
	color: #f00;
}

h8 {
	font-size: small;
	padding-top: 8px;
	color: #00a81e;
}

/* @end */

/* @group Flash Notice */

/*.flash_icon{margin-bottom:-2px;}
#flash_notice,#flash_error{text-align:center;color:#242424;position:fixed;padding-top:14px;padding-bottom:14px;text-indent:-10px;z-index:999;font-size:1.4em;width:100%;top:0;right:0;left:0;}
#flash_notice{background-color:#cefdd5;border-bottom:1px solid #68d163;}
#flash_error{background-color:#fab5bd;}
*/

#close_box {
	float: right;
}

#flash_notice,#flash_error {
	padding: 10px 8px 5px;
	min-height: 25px;
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 10px;
	text-decoration: none;
	color: #313131;
	font: normal normal normal 1.1em 'Trebuchet MS',"Lucida Grande",Helvetica,sans-serif;
}

.flash_icon {
	margin-bottom: -1px;
}

#flash_notice {
	border: 1px solid #90f8a2;
	background-color: #d0fad7;
}

#flash_error {
	border: 1px solid #f99bad;
	background-color: #f7c7ce;
}

/* @end */

/* @group Errors */

.fieldWithErrors {
	display: inline;
}

#errorExplanation {
	width: 400px;
	border: 1px solid #d8d4d7;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

.error_message {
	color: #f8777e;
	margin-left: 5px;
	text-transform: capitalize;
	font-size: small;
	margin-top: -2px;
}

.new_user_error_message {
	
}

.pass_message {
	color: #8eec8b;
	margin-left: 10px;
	text-transform: capitalize;
	font-size: small;
}

.formError {
	color: #f8777e;
	text-transform: capitalize;
	font-size: medium;
	margin-bottom: 10px;
}

.on_error_icon {
	margin-bottom: -3px;
}

.request_form_errors {
	position: relative;
}

.login_error {
	float: right;
	margin-right: 30px;
}

#errorExplanation h2 {
	text-align: left;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: 0;
	background-color: #ddd;
	color: #3e5760;
	border-style: none;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 8px;
}

#errorExplanation ul {
	margin: 2px 24px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: disc;
	color: #ff4e59;
}

/* @end */

/* @group Design */

#wrapper {
	width: 900px;
	margin-bottom: 5px;
	margin-left: auto;
	margin: auto;
	overflow: visible;
	position: relative;
}

#logo {
	margin-left: 20px;
	float: left;
	display: block;
	position: relative;
	overflow: hidden;
}

#header {
	width: 900px;
	height: 50px;
	background: url(../images/header.png) 0 top;
	position: relative;
	display: block;
	overflow: hidden;
}

#container {
	
}

#c_header {
	width: 900px;
	height: 35px;
	background-image: url(../images/c_header.png);
}

#c_body {
	width: 900px;
	background: url(../images/c_content.png) repeat-y;
	padding-bottom: 5px;
}

#c_content_holder {
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
	overflow: visible;
}

#c_content_holder a {
	font-size: small;
}

#count_down{
	text-shadow: #717376 0 1px 0;
	margin-right: 5px;
	color: #fefcff;
	position: relative;
	display: block;
	overflow: hidden;
	margin-top: 8px;
	font-size: x-small;
}

#filter_text_content {
	width: 850px;
	height: 50px;
	position: relative;
	margin: auto;
	padding-top: 10px;
	padding: 20px;
}

#filter_text_content select{
	margin-right: 5px;
}

#filter_text_content label {
	font-size: x-small;
	color: #fff;
}

#filter_text_content input {
	padding: 10px;
}

#filter_content {
	width: 900px;
	height: 80px;
	background-image: url(../images/filter_content.png);
	margin-bottom: -15px;
	margin-top: -5px;
}

#c_footer {
	width: 900px;
	height: 34px;
	background-image: url(../images/c_footer.png);
	left: -100px;
	margin-bottom: 20px;
}

#footer_text {
	color: #b1b1b1;
	font-size: xx-small;
	text-align: center;
	padding-top: 5px;
}

/* @end */

/* @group Menu */

div#user_box{
	color: #fffeff;
	display: block;
	position: relative;
	overflow: hidden;
	padding-left: 15px;
	float: right;
	width: 250px;
}

div#user_avatar{
	border: 1px solid #2f3030;
	display: block;
	position: relative;
	overflow: hidden;
	width: 30px;
	height: 29px;
	float: left;
	margin-right: 8px;
	margin-top: 3px;
}

div#user_data img{
	/*border: 1px solid #727576;*/
}

div#user_name{
	text-shadow: #000 0 1px 0;
	font-size: small;
	color: #fff;
	padding: 3px 0 0;
	margin-top: 0;
	text-decoration: none;
	font-variant: normal;
}

div#user_links{
	text-shadow: #000 0 1px 0;
	font-size: xx-small;
	color: #868888;
	padding-top: 2px;
}
div#user_links a{
	color: #d9dcdc;
	font-size: xx-small;
}

ul,li {
	margin: 0;
	border: 0;
	padding: 0;
	list-style: none;
}

#menubar {
	float: left;
	margin-top: -2px;
	font-size: 11px;
	color: #f3f4ff;
	font-weight: bold;
	height: 39px;
	position: relative;
	display: block;
	overflow: hidden;
	line-height: 30px;
	padding: 0;
	margin-left: 10px;
}

#menubar ul{
	/*margin-right: 60px;*/
	display: block;
	position: relative;
	overflow: hidden;
}

#menubar .menu li {
	height: 39px;
	float: left;
	line-height: 39px;
	padding-right: 1px;
	padding-left: 1px;
}

#menubar .menu li:hover {
	background: url(../images/menu/li_bg.png) repeat-x 0 bottom;
	border-left: 1px solid #373838;
	border-right: 1px solid #676767;
	padding-right: 0;
	padding-left: 0;
	}

#menubar .menu li.start {
	height: 39px;
	float: left;
	background: transparent url(../images/menu/split.png) no-repeat right;
	line-height: 39px;
	width: 2px;
}

#menubar .menu li.first{
	left: 0;
}
/*#menubar .menu li.last{
	background-image: none;
}*/


#menubar .menu li a {
	background: transparent url(../images/menu/split.png) no-repeat right;
	text-shadow: #000 0 1px 0;
	color: #fbf5ff;
	text-decoration: none;
	display: block;
	float: left;
	font-variant: normal;
	font-weight: normal;
	font-style: normal;
	padding: 0 10px;
}

#menubar .menu li a:hover {
	color: #cfd1d1;
}

/* @end */

/* @group More */

#more_text {
	padding-top: 15px;
	color: #777;
}

.more:active {
	background-position-x: 0%;
	background-position-y: -38px;
	color: rgb(102,102,102);
}

.more:hover {
	background-position-x: 0%;
	background-position-y: -78px;
	border: 1px solid #cacaca;
	text-decoration: none;
}

.option_item:hover {
	background-position-x: 0%;
	background-position-y: -78px;
	border: 1px solid #cacaca;
	text-decoration: none;
}

.option_item {
	background-color: white;
	background-image: url(../images/more.gif);
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat-x;
	border-bottom: 1px solid rgb(170,170,170);
	border: 1px solid #cfcfcf;
	border-right: 1px solid rgb(170,170,170);
	display: block;
	font-size: 14px;
	height: 22px;
	line-height: 1.5em;
	outline: none;
	padding: 6px 0px;
	text-align: center;
	text-shadow: rgb(255,255,255) 1px 1px 1px;
	width: 100%;
}

.more {
	background-color: white;
	background-image: url(../images/more.gif);
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat-x;
	border-bottom: 1px solid rgb(170,170,170);
	border: 1px solid #cfcfcf;
	border-right: 1px solid rgb(170,170,170);
	display: block;
	font-size: 14px;
	height: 22px;
	line-height: 1.5em;
	outline: none;
	padding: 6px 0px;
	text-align: center;
	text-shadow: #fcffff 1px 1px 1px;
	width: 100%;
}

.more_error_page {
	background-color: white;
	background-image: url(../images/more.gif);
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat-x;
	border-bottom: 1px solid rgb(170,170,170);
	border: 1px solid #d6d6d6;
	border-right: 1px solid rgb(170,170,170);
	display: block;
	font-size: 10px;
	height: 15px;
	outline: none;
	padding: 6px 0px;
	text-align: center;
	text-shadow: rgb(255,255,255) 1px 1px 1px;
	width: 200px;
	margin-top: 20px;
	line-height: 11px;
}

.more.loading {
	cursor: default!important;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: 1px solid #eee;
	background-image: url('../images/ajax.gif');
	text-indent: -9999px;
}

.more::-moz-focus-inner {
	border: 0;
}

#pagination {
	margin: auto;
}

.pagination {
	font-size: small;
}

/* @end */

/* @group Events */

/* Events */

span#ip_address {
	font-size: small;
	line-height: 1px;
}

span#ip_address img {
	margin-bottom: -2px;
}

strong.title {
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	font-style: normal;
	font-size: 1em;
}

.event {
	/*background-color: #efefef;*/
	border: 1px solid #e6e9e9;
	margin-bottom: 10px;
	position: relative;
	display: block;
	overflow: hidden;
	background-color: #fbfbfb;
}

#events {
	padding-bottom: 1px;
}

#events a {
	font-size: small;
}

#event_holder {
	border: 1px solid #fff;
	padding: 5px;
	position: relative;
	overflow: hidden;
	background: url(../images/event_bg.png) repeat-x 0 bottom;
}

#event_holder_body {
	font-size: small;
	color: #7f7f7f;
}

#event_timestamp {
	float: right;
	font-size: small;
	color: #ababab;
	margin-left: 2px;
}

#event_show_information {
	color: #636363;
}

/* Show Page For Events */

#event_show_page a {
	font-size: x-small;
}

strong.event_title {
	text-shadow: #fff 0 1px 0;
	color: #262626;
	font-size: 1.7em;
}

#summary_info_in {
	border: 5px solid #eee;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#summary_info table {
	text-align: left;
	width: 100%;
}

#summary_info td {
	padding: 2px 30px 2px 20px;
	text-align: left;
}

#summary_info tr {
	border-bottom: 1px solid #f2f2f2;
	text-align: left;
}

#summary_info a {
	border-bottom: 1px solid #f2f2f2;
	text-align: left;
	color: #3e63be;
}

#summary_info th {
	padding: 2px 30px 2px 15px;
	color: #464546;
	background-color: #eee;
	font-size: x-small;
}

/* @end */

/* @group IP Info */

#ip_info_in {
	border: 5px solid #eee;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#ip_info_in_more {
	border: 5px solid #eee;
	overflow: hidden;
	margin-top: 10px;
}

#ip_info table {
	text-align: left;
	width: 100%;
}

#ip_info td {
	padding: 2px 30px 2px 20px;
	text-align: left;
}

#ip_info tr {
	border-bottom: 1px solid #f2f2f2;
	text-align: left;
}

#ip_info th {
	padding: 2px 30px 2px 15px;
	color: #464546;
	background-color: #eee;
	font-size: x-small;
}

/* @end */

/* @group TCP Info */

/* @end */

/* @group ICMP Info */

#icmp_info_in {
	border: 5px solid #eee;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#icmp_info table {
	text-align: left;
	width: 100%;
}

#icmp_info td {
	padding: 2px 30px 2px 20px;
	text-align: left;
}

#icmp_info tr {
	border-bottom: 1px solid #f2f2f2;
	text-align: left;
}

#icmp_info th {
	padding: 2px 30px 2px 15px;
	color: #464546;
	background-color: #eee;
	font-size: x-small;
}

/* @end */

/* @group UDP Info */

/* @end */

/* @group Code/Payload */

pre {
	font: small Courier;
}

#ascii_payload {
	-webkit-border-radius: 4px;
	-moz-border-radius: 5px;
	overflow: auto;
	background-color: #eee;
	padding: 10px;
	font-size: medium;
	color: #000;
	margin: 10px 10px 0;
	border: 3px solid #e4e4e4;
}

#ascii_hex_payload {
	-webkit-border-radius: 4px;
	-moz-border-radius: 5px;
	overflow: auto;
	background-color: #eee;
	padding: 10px;
	font-size: medium;
	color: #000;
	margin: 10px 10px 0;
	border: 3px solid #e4e4e4;
}

#raw_payload {
	-webkit-border-radius: 4px;
	-moz-border-radius: 5px;
	overflow: auto;
	background-color: #eee;
	font-size: medium;
	color: #000;
	margin: 10px 10px 0;
	border-width: 1px;
	border-color: #828282;
	border: 3px solid #e4e4e4;
	text-align: left;
	padding: 10px 10px 10px 20px;
}

#payload_title {
	color: #7e7e7e;
	margin-bottom: 10px;
	text-align: right;
}

/* @end */

/* @group DashBoard */

#bar_graph{
	height: 200px;
	width: 400px;
}

.legendColorBox{
	padding-right: 5px;
	padding-bottom: 2px;
}

#please_refresh {
	margin-top: -20px;
}

#update_cache {
	float: right;
	text-align: right;
}

#dashboard {
	overflow: hidden;
}

#dashboard a {
	font-size: x-small;
	color: #5d5b5c;
}

#graph_holder {
	text-align: center;
	overflow: hidden;
	margin: 5px auto auto;
	padding-top: 15px;
	padding-bottom: 5px;
	width: 820px;
}

.graph_1 {
	float: left;
	display: block;
	position: relative;
	overflow: hidden;
	margin-left: -10px;
}

.graph_2 {
	float: right;
	display: block;
	position: relative;
}

#data_count_holder {
	background-color: rgba(171,171,171,0.14);
	border: 1px solid rgba(192,192,192,0.63);
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#dash_top {
	width: 260px;
	background-image: url(../images/dashboard/dash_top.png);
	height: 20px;
}

#dash_top h2 {
	padding-left: 15px;
	padding-top: 5px;
	font-size: medium;
	color: #2f2f2f;
}

#dash_content {
	width: 260px;
	background: url(../images/dashboard/dash_content.png) repeat-y;
	padding-top: 10px;
	padding-left: 20px;
	color: #505050;
	font-size: small;
	min-height: 120px;
}

#dash_bottom {
	width: 260px;
	background-image: url(../images/dashboard/dash_bottom.png);
	height: 20px;
}

#dash_holder_first {
	width: 260px;
	padding: 5px;
	margin-right: 3px;
}

#dash_holder {
	width: 260px;
	float: right;
	margin-right: 10px;
}

#g_dash_holder_first {
	width: 260px;
	padding: 5px;
}

#g_dash_holder {
	width: 260px;
	float: right;
	padding: 5px;
	margin-right: 5px;
}

#dashboard {
	position: relative;
	overflow: visible;
}

/* @group Dash Table */

#statistics {
	position: relative;
	overflow: hidden;
	padding-right: 20px;
	padding-left: 20px;
	width: 820px;
	margin-left: -20px;
}

.grid_1 {
	width: 400px;
	float: left;
}

.grid_2 {
	width: 400px;
	float: right;
}

#dash_table_in {
	border: 5px solid #eee;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#dash_table table {
	text-align: left;
	width: 100%;
}

#dash_table td {
	padding: 2px 30px 2px 20px;
	text-align: left;
}

#dash_table tr {
	border-bottom: 1px solid #f2f2f2;
	text-align: left;
}

#dash_table th {
	padding: 2px 30px 2px 15px;
	color: #464546;
	background-color: #eee;
	font-size: x-small;
}

/* @end */

/* @end */

/* @group LOGIN */

#logo_big {
	text-align: center;
	margin-bottom: 20px;
}

#user_session_submit {
	margin-right: 5px;
}

#login {
	width: 600px;
	margin: auto;
}

#login_header {
	width: 600px;
	height: 183px;
	background-image: url(../images/snorby_login.png);
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

#login_footer {
	width: 600px;
	height: 28px;
	background-image: url(../images/snorby_login_bottom.png);
	margin: 5px auto 30px;
}

#login_data {
	margin-top: -100px;
	margin-left: 60px;
	width: 700px;
}

/* @end */

/* @group Reports */

#report_table_in {
	border: 5px solid #eee;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#report_table table {
	text-align: left;
	width: 100%;
}

#report_table td {
	padding: 2px 30px 2px 20px;
	text-align: left;
}

#report_table tr {
	border-bottom: 1px solid #f2f2f2;
	text-align: left;
}

#report_table th {
	padding: 2px 30px 2px 15px;
	color: #464546;
	background-color: #eee;
	font-size: x-small;
}

/* @end */

/* @group Search */

.search_event_count {
	font-size: small;
	color: #bbb;
	font-style: italic;
}

/*input.search {
	background: #edf2ef url(../images/other/leaf.png) no-repeat 4px 4px;
	padding-left: 25px;
	border: 1px solid #bdc0c0;
	color: rgb(51,51,51);
	font: normal normal normal 12px/normal 'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;
	width: 220px;
}*/

#search_options {
	background-color: #fdffc7;
	border: 1px solid #fef99e;
	color: #373737;
	position: relative;
	padding: 5px 10px;
	float: right;
	margin-top: -10px;
	margin-right: -20px;
}

#edit_search_path {
	width: 800px;
}

#search_options img {
	padding-right: 5px;
	padding-left: 5px;
}

/* @end */

/* @group Settings */

#sensor_settings {
	width: 600px;
	font-size: medium;
	color: #383838;
}

#settings_table_in {
	border: 5px solid #eee;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#settings_table table {
	text-align: left;
	width: 100%;
}

#settings_table td {
	padding: 2px 30px 2px 20px;
	text-align: left;
}

#settings_table tr {
	border-bottom: 1px solid #f2f2f2;
	text-align: left;
}

#settings_table th {
	padding: 2px 30px 2px 15px;
	color: #464546;
	background-color: #eee;
	font-size: x-small;
}

#settings_menu {
	margin-top: -90px;
}

#settings {
	margin: auto auto 20px;
	min-height: 200px;
}

#user_info {
	float: left;
	background-color: rgba(202,202,202,0.37);
	padding: 10px;
	border: 3px solid rgba(101,101,101,0.53);
}

#b_settings {
	width: 500px;
	margin: auto;
}

/* @end */

/* @group Tune/Important */

#event_options_holder {
	
}

.event_options {
	/*border: 1px solid rgba(253,247,88,0.49);
	background: #fefbc8 0 bottom;
	color: #373737;*/
	
	position: relative;
	float: right;
	margin-top: 10px;
	background: #fefbc8 0 bottom;
	border: 1px solid #fdfdac;
}

div#event_options_inside{
	padding-right: 5px;
	padding-top: 2px;
	padding-left: 5px;
	border: 1px solid #fff;
}

.event_options img {
	padding-right: 2px;
	padding-left: 2px;
}

/* @end */

/* @group Comments */

.comment_box {
	margin: 20px auto auto;
	background-color: transparent;
	font-size: small;
	max-height: 200px;
	overflow: auto;
	padding-right: 20px;
}

#comments_for {
	color: #363636;
	font-size: small;
	text-align: center;
	/*background-color: #f2f4f0;
	border: 1px solid rgba(208,213,210,0.63);*/
	margin-bottom: 15px;
}

#comment_form{
	margin-top: 20px;
}

#comments {
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#comment_user_name {
	text-shadow: #f6faff 0 1px 0;
	color: #373737;
	text-transform: capitalize;
	font-size: 1.0em;
	font-weight: bold;
}

#comment_user_info {
	font-size: 85%;
	min-height: 30px;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	top: 10px;
	width: 155px;
	left: 2px;
	float: left;
}
#comment_user_info img{
	float: left;
	margin-right: 5px;
	border-width: 1px;
	border-style: solid;
}

div#comment_timestamp {
	color: #919191;
	text-transform: capitalize;
	font-style: italic;
	font-size: 0.8em;
}

div#add_comment {
	text-align: right;
}

div#comment_body {
	padding-bottom: 6px;
	padding-right: 10px;
	color: #9a9a9a;
}

#comment_options {
	float: right;
	font-size: 85%;
	min-width: 90px;
	padding: 0px 10px 4px 15px;
	text-align: right;
	color: #989898;
}

#comment_options a {
	font-size: xx-small;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #1fa2ff;
}
#comment_options a:hover {
	color: #82cbfc;
}

.comment {
	min-height: 35px;
	border-top: 1px solid #e8ebeb;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	display: block;
	padding: 8px 0px 10px 155px;
}

#comment_text {
	font-size: small;
	color: #2a2a2a;
	margin-bottom: -10px;
}

/* @end */

div.visualize {
	border-style: none;
	background-color: #fffeff;
	background-image: none;
}

#hourSlider {
	margin-left: 15px;
}

#minuteSlider {
	margin-left: 23px;
}

/* @group Passsword */

.password-strength-bar {
	font-size: 12px;
	width: 50%;
	font-family: arial,sans-serif;
	color: #000;
	height: 15px;
	margin-top: 5px;
	padding: 1px;
}

.password-min-char {
	font-size: 10px;
}

/* @
end */

/* @group Tipsy */

.tipsy {
	opacity: .8;
	filter: alpha(opacity=80);
	background-repeat: no-repeat;
	padding: 5px;
	z-index: 999;
}

.tipsy-inner {
	padding: 8px 8px;
	max-width: 200px;
	font: 11px 'Lucida Grande',sans-serif;
	font-weight: bold;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #000;
	color: white;
	text-align: left;
}

.tipsy-north {
	background-image: url(../images/tipsy/tipsy-north.gif);
	background-position: top center;
}

.tipsy-south {
	background-image: url(../images/tipsy/tipsy-south.gif);
	background-position: bottom center;
}

.tipsy-east {
	background-image: url(../images/tipsy/tipsy-east.gif);
	background-position: right center;
}

.tipsy-west {
	background-image: url(../images/tipsy/tipsy-west.gif);
	background-position: left center;
}

.tipsy-inner {
	padding: 10px 15px;
	line-height: 1.5em;
	font-weight: bold;
}

.ie6 .tipsy {
	width: 250px;
}

/* @end */

/* @group User */

div#user_data_and_stats{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
}

div#user_data_info_under{
	display: block;
	position: relative;
	overflow: hidden;
	margin-top: 5px;
}

div#user_data_info{
	text-shadow: #f6faff 1px 1px 1px;
	float: left;
	color: #616263;
	width: 100%;
	padding-left: 5px;
	display: block;
	position: relative;
	overflow: hidden;
}

div#user_data_info a{
	color: #258fff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
}
div#user_data_info a:hover{
	color: #84cdff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
}

span#edit_name{
	margin-bottom: 5px;
}

div#user_data_info strong{
	text-shadow: #f6faff 1px 1px 1px;
	color: #474848;
}

div#user_data_and_stats img{
	float: left;
	border: 1px solid #fff;
	margin-right: 10px;
}

div#user_data_and_stats h1{
	font-size: x-large;
	color: #454545;
	text-shadow: #f6faff 1px 1px 1px;
}
div#user_data_and_stats h2{
	font-size: small;
	color: #7b7c7c;
	text-shadow: #fefcff 1px 1px 1px;
}

/* @end */

/* @group Form */

ul#form{
	position: relative;
	display: block;
	overflow: hidden;
}

/* @end */

