<h1>Edit My Account</h1><br />

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %><br />
<br />
  <%= f.submit "Update" %>
<% end %>
