<h2>Payload:</h2>
<br />

<%= link_to_function "#{image_tag('show_event/Terminal.png', :size => '16x16')} Ascii Representation", toggle_div('ascii_payload') %> <br />

<div id="ascii_payload" style='display:none;'>
	
	<pre><%= [@event.data_info.data_payload].pack("H*") %></pre>

</div>

<br />

<div id="raw_payload"><pre><%= Hexy.new(@event.data_info.data_payload, :width => 20, :format => :twos) %></pre></div>