<%= box_header 'Recent Events' %>

<div id="events" class='events'>
	<%= render :partial => @events %>
</div>
<% unless @events.next_page.nil? %>
<div id="pagination"><a class="round more blah" href="/events?" id="more" rel='next'>more</a></div>
<%- end -%>