<div id="events" class='events'>
	<%= render :partial => @events %>
</div>

<div id="pagination"><%= link_to_remote "more", :url => { :action => :load_more }, :html => { :class => 'round more', :id => 'more' } %></div>