<div id="events" class='events'>
	<%= render :partial => @events %>
</div>

<%= periodically_call_remote(:complete => visual_effect(:pulsate, "event_#{@events.first.id}", :duration => 2), 
		:url => { :action => 'livelook' },
 		:frequency => 20,
		:update => { :success => "events", :failure => "error" }) %>