
<%- content_for(:outside_content) do -%>
	<div id="show_filter"> HEY! </div>
	<div id='last_pull_time' align='right'>Last Pull Time: <%= @time.strftime('%I:%M:%S %p') %></div>
<%- end -%>

<div id="events">	
	<%= render :partial => @events %>
</div>

<%= periodically_call_remote(:complete => visual_effect(:highlight, "last_pull_time", :duration => 2), 
		:url => { :action => 'livelook' },
 		:frequency => 60,
		:update => { :success => "events", :failure => "error" }) %>