<div id="settings">
	<div id="login_header"></div>
	<div id="settings_menu">
		<div id="b_settings">
		<%= link_to "Sensor Settings", {:action => 'sensor_settings', :id => 'all'}, 
		:rel => 'facebox', :class => 'round more blah', :id => 'more' %>
		</div>
		<br />
		<div id="b_settings">
		<%= link_to "My Settings", {:controller => 'users', :action => 'edit', :id => @user.id}, 
		:rel => 'facebox', :class => 'round more blah', :id => 'more' %>
		</div>
		<br />
		<div id="b_settings">
		<%= link_to "User Settings", users_path, 
		:rel => 'facebox', :class => 'round more blah', :id => 'more' %>
		</div>
		<br />
		<div id="b_settings">
		<%= link_to "Admin Settings", {:controller => 'users', :action => 'edit', :id => @user.id}, 
		:rel => 'facebox', :class => 'round more blah', :id => 'more' %>
		</div>
	</div>
	<div id="login_footer"></div>
</div>