<% title "Setting" %>

<p>
  <strong>Events Per Page:</strong>
  <%=h @setting.events_per_page %>
</p>

<p>
  <%= link_to "Edit", edit_setting_path(@setting) %> |
  <%= link_to "Destroy", @setting, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", settings_path %>
</p>
