<%- if @category.blank? -%>
	<h1>Category: Unclassified</h1>
<%- else -%>
	<h1>Category: <%= @category.sig_class_name.titleize %></h1>
<%- end -%>
<br />
<div id="events" class='events'>
	<%= render :partial => @events %>
</div>

<% unless @events.next_page.nil? %>
<div id="pagination"><a class="round more blah" href="/category?category_id=<%= params[:category_id] %>&" id="more" rel='next'>more</a></div>
<%- end -%>