<h1>Events For Sensor: <%= @sensor.hostname %></h1>
<br />
<div id="events" class='events'>
	<%= render :partial => @events %>
</div>

<% unless @events.next_page.nil? %>
<div id="pagination"><a class="round more blah" href="/events_for_sensor?sensor=<%= params[:sensor] %>&" id="more" rel='next'>more</a></div>
<%- end -%>