<div id="events">	
	<%= render :partial => @events %>
</div>

<%- unless @events.blank? -%>
<script type="text/javascript">current_page = 2;</script>
<div id="pagination"><a class="round more blah" href="#load_more_events" id="more" onmouseout='swap_out()' onclick="new Ajax.Request('/severity?severity=<%= params[:severity] %>&page=' + current_page, {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>')}); swap_in(); current_page = current_page + 1; return false;">more</a></div>
<%- end -%>