<div id="events">	
	<%= render :partial => @events %>
</div>

<% unless @events.next_page.nil? %>
<div id="pagination"><a class="round more blah" href="/severity?severity_id=<%= params[:severity_id] %>&" id="more" rel='next'>more</a></div>
<%- end -%>