# SNORBY DB SETTINGS - DO NOT CHANGE THE SPACING

production:
  adapter: mysql
  database: name_of_snort_database_here
  username: my_user
  password: my_password
  host: localhost
  
###
## DO NOT USE DEVELOPMENT MODE - DO NO REMOVE

development:
  adapter: mysql
  database: no_not_use
  username: no_not_use  
  password: no_not_use
  host: no_not_use