# SNORBY DB SETTINGS - DO NOT CHANGE THE SPACING

production:
	adapter: mysql
	database: snorby
	username: snorby  
	password: snorby
	host: localhost

###
## DO NOT USE DEVELOPMENT MODE

development:
  adapter: mysql
  database: no_not_use
  username: no_not_use  
  password: no_not_use
  host: no_not_use