# SNORBY EMAIL SETUP - DO NOT CHANGE THE SPACING

production:
  :address: smtp.gmail.com
  :port: 25
  :authentication: plain
  :user_name: user
  :password: pass
  :domain: localhost # user for relay!