<center><%= image_tag('logo_big.png') %></center>
<div class="dialog">
  <h7>We're sorry, but something went wrong.</h7>
  <p>We've been notified about this issue and we'll take a look at it shortly.</p>
</div>