<%- title "Snorby - Something Is Wrong!", false -%>
<center><%= image_tag('logo_big.png') %></center>
<div class="dialog">
  <h7>We're sorry, but something went wrong.</h7>
  <p>We've been notified about this issue and we'll take a look at it shortly.</p>
</div>

<div id="more_menu_holder">
	<%= link_to "Snorby News", 'https://github.com/mephux/Snorby', :target => '_blank', :class => 'round more_error_page more_error', :id => 'snorby_news', :title => 'All snorby updates and news. Come see the exciting features we have in the works!' %>
	<%= link_to "Report Bugs", 'https://github.com/mephux/Snorby/issues', :target => '_blank', :class => 'round more_error_page more_error', :id => 'snorby_bugs', :title => 'Please report this issue. Every log post is one step to a better snorby!' %>
	<%= link_to "Snorby Wiki", 'https://github.com/mephux/Snorby/wikis', :target => '_blank', :class => 'round more_error_page more_error', :id => 'snorby_wiki', :title => 'The Snorby wiki is growing and we need your help. Post your snorby setup and ideas!' %>
</div>
