<div id="send_event_box">
	<h3>Send Search Report</h3><br />
	
	<% remote_form_for :email, :url => send_search_now_searches_url(:search_id => params[:search_id]),
	:before => visual_effect(:fade, "facebox") do %>
  	To: 
		<%- if User.find(:all).empty? -%>
		<font color='red'>No Users Have Been Added To This Account!</font>
		<%- else -%>
			<%- for user in User.find(:all) -%>
				<%- if user.accept_email -%>
					<%= check_box_tag "[user_id][]", user.id, user.id %>
			  	<%= user.login.capitalize %>
				<%- end -%>
			<%- end -%>
		<%- end -%>
		<br /><br />
		Notes:<br />
		<%= text_area_tag :msg, nil, :size=>'40x10'%><br /><br />
		<div id='send_box'>
		<%= submit_tag "Send Search Report »", :name => nil, :disable_with => 'Sending...' %>
		</div>
	<%- end -%>
</div>