<div id="search_options" class='round'>
	<%= link_to "#{image_tag('export/pdf.png')}", { :format => 'pdf' } %>
	<%= link_to "#{image_tag('export/xml.png')}", { :format => 'xml' } %>
	<%= link_to "#{image_tag('export/email.png')}", send_search_path(@search), :rel => 'facebox' %>
</div>
<h1>Search Results</h1>
<br />
<%= render :partial => @search.events %>

<%- if @search.events.empty? -%>
<font color='red'>No results found.</font>
<%- end -%>
<br />