<h1>Snorby Reports</h1>
<br />

<% if @reports.blank? %>
<div id="report_table">
	<div id="report_table_in">
		<table>
		  <tr>
		    <th></th>
		  </tr>
				<tr>
					<td>You currently have no reports.</td>
				</tr>
		</table>
	</div>
</div>
<br />
<%- else -%>

<% form_tag delete_multiple_reports_path do %>
<div id="report_table">
	<div id="paginate" align='right'>
		<%= will_paginate @reports %>
	</div>
	<div id="report_table_in">
		<table>
		  <tr>
		    <th></th>
				<th>Report Type</th>
		    <th>Report Time</th>
				<th>PDF</th>
				<th>XML</th>
				<th>CSV</th>
		  </tr>
			<div id="reports">
				<%= render :partial => @reports %>
			</div>
		</table>
	</div>
</div>
<br />
<%= submit_tag "Remove Checked" %>
<% end %>

<% end %>