<h1>Reports</h1>
<br />
<% if @reports.blank? %>
<div id="report_table">
	<div id="report_table_in">
		<table>
		  <tr>
		    <th></th>
		  </tr>
				<tr>
					<td><h4><%= image_tag('cross.png', :size=>'10x10') %> You currently have no reports.</h4></td>
				</tr>
		</table>
	</div>
</div>
<br />
<%- else -%>
<% form_tag delete_multiple_reports_path, {:id => 'form'} do %>
<div id="report_table">
	<div id="paginate" align='right'>
		<%= will_paginate @reports %>
	</div>
	<div id="report_table_in">
		<table class='grid'>
		  <tr>
		    <th></th>
				<th>Report Type</th>
		    <th>Report Start Time</th>
				<th>Report End Time</th>
				<th>PDF</th>
				<th>XML</th>
				<th>Email</th>
		  </tr>
				<%= render :partial => @reports %>
		</table>
	</div>
</div>
<div id="select_all" align='right' class='small'>
	<input id="check_all" name="check_all" type="checkbox" onclick="Form.getInputs('form','checkbox').each(function(box){box.checked = $('check_all').checked})"> Select All</input>
</div>
<%= submit_tag "Remove Checked" %>
<% end %>

<% end %>