<div id='c_footer'>
	<div id="footer_text">
		&copy; 2009 <%= link_to "Snorby 1.0.0", "http://www.snorby.org", :target => '_blank' %> - <%= pluralize User.logged_in.count, "user" %> currently logged in
	</div>
</div>